<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>Desenvolvimento web com Python</title>

        <meta name="description" content="Slide apresentado no mini-curso de desenvolvimento web com python.">
        <meta name="author" content="Marcos Antônio de Souza Silva">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/black.css" id="theme">
        <link rel="stylesheet" href="css/main.css">
        <link rel="shortcut icon" href="img/logo.png">

        <!-- Theme used for syntax highlighting of code -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>
        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="reveal">
            <div class="slides">
                <section data-background='./img/background2.jpg'>
                    <h2 class="text-shadow title">Web Developer</h2>
                    <h4 class="text-shadow legend">My first Flask Application</h4>
                </section>
                <section data-background='./img/background1.jpg'>
                    <h2 class="text-shadow title">About Me</h2>
                    <blockquote class="bg-midnight">
                        <ul class="text-blue">
                            <li class="fragment">Graduating in Science of Computer at UFBA.</li>
                            <li class="fragment">Biometric Recognition of Newborn.</li>
                            <li class="fragment">Passionate about the computer, algorithms, performance and quality of code.</li>
                            <li class="fragment">Participate of the GRUPRO - Programming group at UFBA.</li>
                            <li class="fragment">Project leader in GIIRO Project at STI-UFBA.</li>
                        </ul>
                    </blockquote>
                    <h4 class="text-right text-red">Marcos Silva</h4>
                </section>
                <section>
                    <section data-background="./img/background-crysis.jpg">
                        <h2 class="text-shadow">Python</h2>
                        <blockquote class="bg-midnight">
                            Python is a programming language that lets you work quickly
                            and integrate systems more effectively.
                        </blockquote>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Python</h2>
                        <ul>
                            <li>Friendly</li>
                            <li>Easy to Learn</li>
                            <li>Open-source</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Use Python for...</h2>
                        <p>
                            <table>
                                <tr class="fragment">
                                    <td>Web Programming</td><td> Django, Pyramid, Bottle, Tornado, Flask, web2py</td>
                                </tr>
                                <tr class="fragment">
                                    <td>GUI Development</td><td> wxPython, tkInter, PyGtk, PyGObject, PyQt</td>
                                </tr>
                                <tr class="fragment">
                                    <td>Scientific and Numeric</td><td> SciPy, Pandas, IPython</td>
                                </tr>
                                <tr class="fragment">
                                    <td>Software Development</td><td> Buildbot, Trac, Roundup</td>
                                </tr>
                                <tr class="fragment">
                                    <td>System Administration</td><td> Ansible, Salt, OpenStack</td>
                                </tr>
                            </table>
                        </p>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Web Programming</h2>
                    </section data-background="#2c3e50">
                    <section data-background="#2c3e50">
                        <h2>Many choices</h2>
                        <ul>
                            <li class="fragment">Frameworks such as Django and Pyramid.</li>
                            <li class="fragment">Micro-frameworks such as Flask and Bottle.</li>
                            <li class="fragment">Advanced content management systems such as Plone and django CMS.</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Supports many Internet protocols</h2>
                        <ul>
                            <li>HTML and XML</li>
                            <li>JSON</li>
                            <li>E-mail processing.</li>
                            <li>Support for FTP, IMAP, and other Internet protocols.</li>
                            <li>Easy-to-use socket interface.</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>More libraries</h2>
                        <ul>
                            <li><span class="text-blue">Requests</span> a powerful HTTP client library.</li>
                            <li><span class="text-blue">BeautifulSoup</span> an HTML parser that can handle all sorts of oddball HTML.</li>
                            <li><span class="text-blue">Feedparser</span> for parsing RSS/Atom feeds.</li>
                            <li><span class="text-blue">Twisted Python</span> a framework for asynchronous network programming.</li>
                            <li><span class="text-blue">Paramiko</span> implementing the SSH2 protocol.</li>
                        </ul>
                    </section>
                </section>
                <section>
                    <section data-background="./img/background-bruce.jpg">
                    </section>
                    <section data-background="#2980b9">
                        <figure>
                            <img src="./img/flask.svg" alt="Flask logo" title="Flask logo" width="600" />
                        </figure>
                    </section>
                    <section data-background="#8e44ad">
                        <h2>FLASK</h2>
                        <blockquote class="transparent">
                            Microframework for Python based on Werkzeug, Jinja 2 and good intentions.
                        </blockquote>
                        <h3 class="fragment">BSD licensed!</h3>
                    </section>
                    <section data-markdown data-background="#27ae60">
                        <script type="text/template">
                            ### Easy to setup
                            ```
                            $ pip install Flask
                            ```
                            ### Or directly
                            http://flask.pocoo.org/
                         </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>What’s in the Box?</h2>
                        <ul>
                            <li class="fragment">built-in development server and debugger</li>
                            <li class="fragment">integrated unit testing support</li>
                            <li class="fragment">RESTful request dispatching</li>
                            <li class="fragment">uses Jinja2 templating</li>
                            <li class="fragment">support for secure cookies (client side sessions)</li>
                            <li class="fragment">100% WSGI 1.0 compliant</li>
                            <li class="fragment">Unicode based</li>
                            <li class="fragment">extensively documented</li>
                        </ul>
                    </section>
                </section>
                <section>
                    <section data-background="./img/bg-scrat.jpg">
                        <h1 class="text-shadow">My first flask application</h1>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Python requirements</h2>
                    </section>
                    <section data-background="#2c3e50">
                        <ul>
                            <li>Flask==0.10.1</li>
                            <li class="fragment">Flask-SQLAlchemy==2.1</li>
                            <li class="fragment">Flask-Testing==0.4.2</li>
                            <li class="fragment">Jinja2==2.8</li>
                            <li class="fragment">SQLAlchemy==1.0.12</li>
                            <li class="fragment">Werkzeug==0.11.4</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Hands on</h2>
                        <figure>
                            <img src="./img/escrevendo1.gif" alt="escrevendo" title="hands on"/>
                        </figure>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Home</h2>
                        <ul>
                            <li class="folder">myfirstflask</li>
                            <li class="folder">tests</li>
                            <li class="file-py">run.py</li>
                            <li class="file-py">test_app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder">routes</li>
                            <li class="folder">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/routes</h2>
                        <ul>
                            <li class="file-py text-blue">__init__.py</li>
                            <li class="file-py">app.py</li>
                            <!-- <li class="file-py">errors.py</li> -->
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/routes/app.py
                            ```
                            # -*- coding: utf-8 -*-
                            from flask import Blueprint, render_template

                            mod_app = Blueprint('mod_app', __name__)

                            @mod_app.route('/')
                            def home():
                                return render_template('index.html', title='Index')

                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/routes</h2>
                        <ul>
                            <li class="file-py text-blue">__init__.py</li>
                            <li class="file-py text-blue">app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/templates</h2>
                        <ul>
                            <!-- <li class="file-html">error.html</li> -->
                            <li class="file-html">layout.html</li>
                            <li class="file-html">index.html</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/templates/layout.html
                            ```
                            <!DOCTYPE html>
                            <html>

                            <head>
                                <title>{% block title %}{% endblock %}</title>
                                {% block css %}{% endblock%}
                            </head>

                            <body>
                                {% block content %}{% endblock %}
                            </body>
                            {% block js %}{% endblock%}

                            </html>
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/templates</h2>
                        <ul>
                            <!-- <li class="file-html">error.html</li> -->
                            <li class="file-html text-blue">layout.html</li>
                            <li class="file-html">index.html</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/templates/index.html
                            ```
                            {% extends "layout.html" %}

                            {% block title %}My First Flask{% endblock %}

                            {% block css%}{% endblock %}

                            {% block js%}{% endblock %}

                            {% block content %}
                                <h1>My First Flask</h1>
                            {% endblock %}
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/templates</h2>
                        <ul>
                            <!-- <li class="file-html">error.html</li> -->
                            <li class="file-html text-blue">layout.html</li>
                            <li class="file-html text-blue">index.html</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder text-blue">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/app.py
                            ```
                            # -*- coding: utf-8 -*-
                            from flask.ext.sqlalchemy import SQLAlchemy
                            from flask import Flask

                            # App
                            app = Flask(__name__, instance_relative_config=True)

                            # Config
                            app.config.from_object('myfirstflask.config')

                            # Flask-SQLAlchemy
                            db = SQLAlchemy(app)

                            # Blueprints
                            from myfirstflask.routes.app import mod_app
                            app.register_blueprint(mod_app)
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder text-blue">templates</li>
                            <li class="file-py text-blue">app.py</li>
                            <li class="file-py">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/config.py
                            ```
                            # -- DATABASE URI -- #
                            SQLALCHEMY_DATABASE_URI = 'sqlite:///myfirstflask.db'
                            # SQLALCHEMY_DATABASE_URI = 'postgresql://<user>:<pass>@<server>/<database>'
                            # SQLALCHEMY_DATABASE_URI = 'mysql://<user>:<pass>@<server>/<database>'
                            SQLALCHEMY_TRACK_MODIFICATIONS = False
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder text-blue">templates</li>
                            <li class="file-py text-blue">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Home</h2>
                        <ul>
                            <li class="folder text-blue">myfirstflask</li>
                            <li class="folder">tests</li>
                            <li class="file-py">run.py</li>
                            <li class="file-py">test_app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Home</h2>
                        <ul>
                            <li class="folder text-blue">myfirstflask</li>
                            <li class="folder text-blue">tests</li>
                            <li class="file-py">run.py</li>
                            <li class="file-py">test_app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### run.py
                            ```
                            from myfirstflask.app import app

                            if __name__ == '__main__':
                                app.run(host='0.0.0.0')
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Home</h2>
                        <ul>
                            <li class="folder text-blue">myfirstflask</li>
                            <li class="folder text-blue">tests</li>
                            <li class="file-py text-blue">run.py</li>
                            <li class="file-py">test_app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### test_app.py
                            ```
                            # -*- coding: utf-8 -*-
                            from tests.baseTest import *
                            import unittest


                            def main():
                                unittest.main()

                            if __name__ == '__main__':
                                main()
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Home</h2>
                        <ul>
                            <li class="folder text-blue">myfirstflask</li>
                            <li class="folder text-blue">tests</li>
                            <li class="file-py text-blue">run.py</li>
                            <li class="file-py text-blue">test_app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### Now run
                            ```
                            $ python3 run.py
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <figure>
                            <h2>Dance...</h2>
                            <img class="no-border transparent" src="./img/calton.gif" alt="calton" />
                        </figure>
                    </section>
                </section>
                <section>
                    <section data-background="./img/bg-compass.jpg">
                        <h2 class="text-shadow">So... what to do ... ?</2>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Simple map application</h2>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Let's go!</h2>
                        <figure>
                            <img src="./img/escrevendo2.gif" alt="escrevendo" title="hands on"/>
                        </figure>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Download</h2>
                        <ul>
                            <li>JQuery</li>
                            <li>LeafletJS</li>
                        </ul>
                        <h2>Or here</h2>
                        <p>https://goo.gl/w6wP4d</p>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Extract the files on the Static Folder</h2>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">Home</h2>
                        <ul>
                            <li class="folder">myfirstflask</li>
                            <li class="folder">tests</li>
                            <li class="file-py">run.py</li>
                            <li class="file-py">test_app.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder">models</li>
                            <li class="folder">routes</li>
                            <li class="folder">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/models</h2>
                        <ul>
                            <li class="file-py text-blue">__init__.py</li>
                            <li class="file-py">marker.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/models/marker.py
                            ```
                            # -*- coding: utf-8 -*-
                            from myfirstflask.app import db

                            class Marker(db.Model):
                                id = db.Column(db.Integer, primary_key=True, autoincrement=True)
                                # coordenadas = db.Column(Geography(geometry_type='POINT', srid=SRID), unique=True)
                                latitude = db.Column(db.Float)
                                longitude = db.Column(db.Float)

                                def __init__(self, latitude=None, longitude=None):
                                    self.latitude = latitude
                                    self.longitude = longitude

                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/models</h2>
                        <ul>
                            <li class="file-py text-blue">__init__.py</li>
                            <li class="file-py text-blue">marker.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder">routes</li>
                            <li class="folder">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/routes</h2>
                        <ul>
                            <li class="file-py text-blue">__init__.py</li>
                            <li class="file-py text-blue">app.py</li>
                            <li class="file-py">marker.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/routes/marker.py
                            ```
                            # -*- coding: utf-8 -*-
                            from flask import Blueprint, request
                            from myfirstflask.app import db
                            from myfirstflask.models.marker import Marker
                            import json

                            mod_marker = Blueprint('mod_marker', __name__)

                            @mod_marker.route('/marker/add', methods=['POST'])
                            def add_marker():
                                #  data = json.loads(request.data.decode('utf-8'))
                                data = {
                                    'lat': request.form.get("lat"),
                                    'lng': request.form.get("lng")
                                }
                                marker = Marker(request.form.get("lat"), request.form.get("lng"))
                                try:
                                    db.session.add(marker)
                                    db.session.commit()
                                    data['id'] = marker.id
                                    data['msg'] = "Adicionado com sucesso"
                                except Exception as error:
                                    print(repr(error))
                                    data['id'] = -1
                                    data['msg'] = "Não foi possível adicionar o marcador"
                                return json.dumps(data), 200

                            @mod_marker.route('/marker/all')
                            def all_markers():
                                data = [{'id': marker.id, 'lat': marker.latitude, 'lng': marker.longitude}
                                        for marker in Marker.query.all()]
                                return json.dumps(data), 200

                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Gist</h2>
                        <p>
                            https://goo.gl/KMhmsF
                        </p>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/routes</h2>
                        <ul>
                            <li class="file-py text-blue">__init__.py</li>
                            <li class="file-py text-blue">app.py</li>
                            <li class="file-py text-blue">marker.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static</h2>
                        <ul>
                            <li class="folder">css</li>
                            <li class="folder text-blue">img</li>
                            <li class="folder">js</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static/css/</h2>
                        <ul>
                            <li class="file-css text-blue">leaflet.css</li>
                            <li class="file-css">main.css</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/static/css/main.css
                            ```
                            html, body, .map{
                                width: 100%;
                                height: 100%;
                                display: flex;
                                position: absolute;
                                margin: 0;
                                padding: 0;
                            }
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static/css/</h2>
                        <ul>
                            <li class="file-css text-blue">leaflet.css</li>
                            <li class="file-css text-blue">main.css</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static</h2>
                        <ul>
                            <li class="folder text-blue">css</li>
                            <li class="folder text-blue">img</li>
                            <li class="folder">js</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static/js/</h2>
                        <ul>
                            <li class="file-js text-blue">jquery.min.js</li>
                            <li class="file-js text-blue">leaflet.min.js</li>
                            <li class="file-js">main.js</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/static/js/main.js
                            ```
                            (function () {
                                'use strict';
                                var defaultOptions, map, options;
                                options = {
                                    enableHighAccuracy: true,
                                    timeout: 5000,
                                    maximumAge: 0
                                };
                                //configuração padrão do mapa
                                defaultOptions = {zoom: 19, center: [-13.0035168, -38.4802806], zoomControl: true};
                                //...
                                // Geolocation support
                                if (navigator.geolocation) {
                                    navigator.geolocation.getCurrentPosition(successGeo, errorGeo, options);
                                } else {
                                    alert("Geolocation is not supported by this browser.");
                                }
                                loadMap(defaultOptions);
                            });
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2>Gist</h2>
                        <p>
                            https://goo.gl/DdUXJG
                        </p>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static/js/</h2>
                        <ul>
                            <li class="file-js text-blue">jquery.min.js</li>
                            <li class="file-js text-blue">leaflet.min.js</li>
                            <li class="file-js text-blue">main.js</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/static</h2>
                        <ul>
                            <li class="folder text-blue">css</li>
                            <li class="folder text-blue">img</li>
                            <li class="folder text-blue">js</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/templates</h2>
                        <ul>
                            <li class="file-html text-blue">layout.html</li>
                            <li class="file-html">index.html</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/templates/index.html
                            ```
                            {% extends "layout.html" %}

                            {% block title %}My First Flask{% endblock %}

                            {% block css%}
                                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/leaflet.css') }}">
                                <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" media="screen" />
                            {% endblock %}

                            {% block js%}
                                <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
                                <script src="{{ url_for('static', filename='js/leaflet.min.js') }}"></script>
                                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                            {% endblock %}

                            {% block content %}
                                <div id="map" class="map"></div>
                            {% endblock %}
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask/templates</h2>
                        <ul>
                            <!-- <li class="file-html">error.html</li> -->
                            <li class="file-html text-blue">layout.html</li>
                            <li class="file-html text-blue">index.html</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder text-blue">templates</li>
                            <li class="file-py">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### ./myfirstflask/app.py
                            ```
                            # -*- coding: utf-8 -*-
                            from flask.ext.sqlalchemy import SQLAlchemy
                            from flask import Flask

                            # App
                            app = Flask(__name__, instance_relative_config=True)

                            # Config
                            app.config.from_object('myfirstflask.config')

                            # Flask-SQLAlchemy
                            db = SQLAlchemy(app)

                            # Automatically create tables
                            from myfirstflask.models import marker
                            db.create_all()

                            # Blueprints
                            from myfirstflask.routes.app import mod_app
                            app.register_blueprint(mod_app)

                            from myfirstflask.routes.marker import mod_marker
                            app.register_blueprint(mod_marker)
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <h2 class="text-shadow">./myfirstflask</h2>
                        <ul>
                            <li class="folder text-blue">models</li>
                            <li class="folder text-blue">routes</li>
                            <li class="folder text-blue">static</li>
                            <li class="folder text-blue">templates</li>
                            <li class="file-py text-blue">app.py</li>
                            <li class="file-py text-blue">config.py</li>
                            <li class="file-py text-blue">__init__.py</li>
                        </ul>
                    </section>
                    <section data-background="#2c3e50" data-markdown>
                        <script type="text/template">
                            ### Now run
                            ```
                            $ python3 run.py
                            ```
                        </script>
                    </section>
                    <section data-background="#2c3e50">
                        <figure>
                            <h2>Dance...</h2>
                            <img class="no-border transparent" src="./img/will.gif" alt="will" width="500" />
                        </figure>
                    </section>
                </section>
                <section data-background='#c0392b'>
                    <h2 class="text-shadow">Links</h2>
                    <ul>
                        <li><span class="text-blue">Slide</span> - https://github.com/massilva/python-web-course</li>
                        <li><span class="text-blue">MyFirstFlask</span> - https://github.com/massilva/myfirstflaskapp</li>
                        <li><span class="text-blue">./myfirstflask/static/js/main.js</span> - https://goo.gl/DdUXJG</li>
                        <li><span class="text-blue">./myfirstflask/routes/marker.py</span> - https://goo.gl/KMhmsF</li>
                    </ul>
                </section>
                <section data-background="#2980b9">
                    <h1>Obrigado!</h1>
                </section>
            </div>
        </div>
        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>
        <script>
            (function () {
                // More info https://github.com/hakimel/reveal.js#configuration
                Reveal.initialize({
                    controls: true,
                    progress: true,
                    history: true,
                    center: true,
                    transition: 'slide',
                    // More info https://github.com/hakimel/reveal.js#dependencies
                    dependencies: [
                        { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                        { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                        { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                        { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
                        { src: 'plugin/zoom-js/zoom.js', async: true },
                        { src: 'plugin/notes/notes.js', async: true }
                    ]
                });
            }());
        </script>
    </body>
</html>
